[Unit]
Description=Airflow {{ service }} daemon
After=network.target postgresql.service mssql.service
Wants=postgresql.service mssql.service

[Service]
EnvironmentFile=/etc/environment
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/usr/local/bin/airflow {{ service }}
Restart=on-failure
RestartSec=1min
StandardOutput=file:/var/log/airflow-{{ service }}/output.log
StandardError=file:/var/log/airflow-{{ service }}/error.log

[Install]
WantedBy=multi-user.target